In [ ]:
from urllib.request import urlretrieve
urlretrieve("https://bitbucket.org/alvinwan/skillshare-data-101/raw/9b7ed1fd0b4b73fdd3f5a4a6cf67a532efb79635/views.pkl", filename="views.pkl")

In [1]:
import pandas as pd
df = pd.read_pickle("views.pkl")
df

,page_load_ms,video_watched_s,product_s,pricing_s,has_clicked,webpage
created_at,,,,,,
2020-01-01 22:26:00,466.0,51.402986,3.003098,0.000000,True,A
2020-01-01 09:03:00,452.0,14.306381,14.203443,0.000000,True,A
2020-01-01 18:26:00,414.0,29.431619,3.958222,0.000000,True,A
2020-01-01 04:46:00,412.0,35.388779,1.629017,0.000000,True,A
2020-01-01 07:58:00,388.0,17.810023,13.045069,0.000000,True,A
...,...,...,...,...,...,...
2020-04-09 20:06:00,408.0,0.000000,10.592185,2.328005,False,B
2020-04-09 05:08:00,461.0,0.000000,13.423557,1.857177,False,B
2020-04-09 08:38:00,535.0,0.000000,8.708851,1.313290,False,B
2020-04-09 09:17:00,505.0,0.000000,10.016819,1.229466,False,B
2020-04-09 02:56:00,512.0,0.000000,1.250193,1.011314,False,B

In [2]:
df.mean()

page_load_ms       700.903239
video_watched_s      7.951220
product_s            7.999328
pricing_s            0.996568
has_clicked          0.342995
dtype: float64

In [3]:
df.min()

page_load_ms          350.0
video_watched_s         0.0
product_s          1.000084
pricing_s               0.0
has_clicked           False
webpage                   A
dtype: object

In [4]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of                      page_load_ms  video_watched_s  product_s  pricing_s  \
created_at
2020-01-01 22:26:00         466.0        51.402986   3.003098   0.000000
2020-01-01 09:03:00         452.0        14.306381  14.203443   0.000000
2020-01-01 18:26:00         414.0        29.431619   3.958222   0.000000
2020-01-01 04:46:00         412.0        35.388779   1.629017   0.000000
2020-01-01 07:58:00         388.0        17.810023  13.045069   0.000000
...                           ...              ...        ...        ...
2020-04-09 20:06:00         408.0         0.000000  10.592185   2.328005
2020-04-09 05:08:00         461.0         0.000000  13.423557   1.857177
2020-04-09 08:38:00         535.0         0.000000   8.708851   1.313290
2020-04-09 09:17:00         505.0         0.000000  10.016819   1.229466
2020-04-09 02:56:00         512.0         0.000000   1.250193   1.011314

                     has_clicked webpage
created_at
2020-01-01 22:26:00         True       A
2020-01-01 09:03:00         True       A
2020-01-01 18:26:00         True       A
2020-01-01 04:46:00         True       A
2020-01-01 07:58:00         True       A
...                          ...     ...
2020-04-09 20:06:00        False       B
2020-04-09 05:08:00        False       B
2020-04-09 08:38:00        False       B
2020-04-09 09:17:00        False       B
2020-04-09 02:56:00        False       B

[119159 rows x 6 columns]>

In [5]:
df.fillna(df.mean())

,page_load_ms,video_watched_s,product_s,pricing_s,has_clicked,webpage
created_at,,,,,,
2020-01-01 22:26:00,466.0,51.402986,3.003098,0.000000,True,A
2020-01-01 09:03:00,452.0,14.306381,14.203443,0.000000,True,A
2020-01-01 18:26:00,414.0,29.431619,3.958222,0.000000,True,A
2020-01-01 04:46:00,412.0,35.388779,1.629017,0.000000,True,A
2020-01-01 07:58:00,388.0,17.810023,13.045069,0.000000,True,A
...,...,...,...,...,...,...
2020-04-09 20:06:00,408.0,0.000000,10.592185,2.328005,False,B
2020-04-09 05:08:00,461.0,0.000000,13.423557,1.857177,False,B
2020-04-09 08:38:00,535.0,0.000000,8.708851,1.313290,False,B
2020-04-09 09:17:00,505.0,0.000000,10.016819,1.229466,False,B
2020-04-09 02:56:00,512.0,0.000000,1.250193,1.011314,False,B

In [6]:
df["video_watched_s"].max()

69.9998447428469

In [7]:
df["video_watched_trunc"] = df["video_watched_s"].clip(0,60)
df

,page_load_ms,video_watched_s,product_s,pricing_s,has_clicked,webpage,video_watched_trunc
created_at,,,,,,,
2020-01-01 22:26:00,466.0,51.402986,3.003098,0.000000,True,A,51.402986
2020-01-01 09:03:00,452.0,14.306381,14.203443,0.000000,True,A,14.306381
2020-01-01 18:26:00,414.0,29.431619,3.958222,0.000000,True,A,29.431619
2020-01-01 04:46:00,412.0,35.388779,1.629017,0.000000,True,A,35.388779
2020-01-01 07:58:00,388.0,17.810023,13.045069,0.000000,True,A,17.810023
...,...,...,...,...,...,...,...
2020-04-09 20:06:00,408.0,0.000000,10.592185,2.328005,False,B,0.000000
2020-04-09 05:08:00,461.0,0.000000,13.423557,1.857177,False,B,0.000000
2020-04-09 08:38:00,535.0,0.000000,8.708851,1.313290,False,B,0.000000
2020-04-09 09:17:00,505.0,0.000000,10.016819,1.229466,False,B,0.000000
2020-04-09 02:56:00,512.0,0.000000,1.250193,1.011314,False,B,0.000000

In [8]:
df.columns

Index(['page_load_ms', 'video_watched_s', 'product_s', 'pricing_s',
       'has_clicked', 'webpage', 'video_watched_trunc'],
      dtype='object')

In [9]:
df.index.max() - df.index.min()

Timedelta('99 days 23:58:00')

In [13]:
def events_per_day(df):
    datetimes = df.index
    days = datetimes.floor("d")
    events_per_day = days.value_counts()
    return events_per_day.sort_index()

In [14]:
events_per_day(df)

2020-01-01     985
2020-01-02    1078
2020-01-03     930
2020-01-04    1134
2020-01-05     845
              ...
2020-04-05    1919
2020-04-06    1813
2020-04-07    1727
2020-04-08    1952
2020-04-09    1798
Name: created_at, Length: 100, dtype: int64

In [16]:
def get_clicks_events(df):
    selector = df["has_clicked"]
    clicks = df[selector]
    return clicks

In [17]:
clicks = get_clicks_events(df)
clicks_per_day = events_per_day(clicks)
clicks_per_day

2020-01-01    514
2020-01-02    494
2020-01-03    509
2020-01-04    556
2020-01-05    489
             ...
2020-04-05    362
2020-04-06    381
2020-04-07    404
2020-04-08    457
2020-04-09    404
Name: created_at, Length: 100, dtype: int64